/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html[b-zghe432v92] {
  font-size: 14px;
}

@media (min-width: 768px) {
  html[b-zghe432v92] {
    font-size: 16px;
  }
}

html[b-zghe432v92] {
  position: relative;
  min-height: 100%;
}

body[b-zghe432v92] {
  background-color: white;
}


a.navbar-brand[b-zghe432v92] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zghe432v92] {
  color: #0077cc;
}

.btn-primary[b-zghe432v92] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zghe432v92],
.nav-pills .show>.nav-link[b-zghe432v92] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zghe432v92] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-zghe432v92] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zghe432v92] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zghe432v92] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zghe432v92] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#main-container[b-zghe432v92]{
  margin-bottom: 300px;
}