@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>A web tool that generate a chord progession of 4 measures with 4 chord per measure. This tool was created with composers and songwriters in mind.</p>
